html
    body
        include head.pug

        main
            include nav.pug

            p Welcome <b> #{user}</b>!

            p Your first character's emblem is:

            img(src=emblem)

            img(src=emblemBackground)

            br
            //#{summary}
        include foot.pug  
        include scripts.pug