html
    body
        include head.pug

        main
            include nav.pug

            center
                h2 #{message}

                h2 ErrorCode: #{errorCode}
                h3 ErrorStatus: #{errorStatus}
 
        include foot.pug  
        include scripts.pug
