footer#footer(class="page-footer orange")
    div(class="container")
        div(class="row")
            div(class="col l6 s12")
                h5(class="white-text") My Destiny Web App
                p(class="grey-text text-lighten-4") Made by Xavier Choudhury 

            div(class="col l3 s12")
                h5(class="white-text") Settings
                ul
                    li: a(class="white-text" href="#!") Link 1
                    li: a(class="white-text" href="#!") Link 2
                    li: a(class="white-text" href="#!") Link 3
                    li: a(class="white-text" href="#!") Link 4

            div(class="col l3 s12")
                h5(class="white-text") Connect
                ul
                    li: a(class="white-text" href="#!") Link 1
                    li: a(class="white-text" href="#!") Link 2
                    li: a(class="white-text" href="#!") Link 3
                    li: a(class="white-text" href="#!") Link 4
    div(class="footer-copyright")
        div(class="container")
            em Made with #[a(class="orange-text text-lighten-3" href="http://materializecss.com") Materialize] by Xavier Choudhury