html
    include head.pug
    
    body
        include nav.pug
        center
            h1 Hello World!
            h2 Bye world
            img(class="responsive-img" width=500 src="https://i.redd.it/arc4hlghokyy.jpg")
        include foot.pug

    include scripts.pug