nav(class="light-blue lighten-1" role="navigation")
    div(class="nav-wrapper container"): a(id="logo-container" href="/" class="brand-logo") My Destiny App
        ul(class="right hide-on-med-and-down")
            li: a(href="/destiny") Destiny

        ul(id="nav-mobile" class="side-nav")
            li: a(href="/destiny") Destiny
        a(href="#" data-activates="nav-mobile" class="button-collapse"): i(class="material-icons") menu