html
    body
        include head.pug

        main
            include nav.pug

            center
                if !isXurHere
                    h1 It looks like Xur is not here today. 
                    h2 Please come back on the weekend to check again!
                else
                    h2 Xur is here!
                    //- h3 Here is whats on sale
                    //- ul
                    //-     each item in items
                    //-       li item
                                
        include foot.pug  
        include scripts.pug
